<!-- About Section -->
<section id="confirm">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2><%= t('pages.confirm.name') %></h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-lg-offset-2">
        <p>Solicitamos que seja feita a confirmação da presença até o dia <strong>18 de Junho</strong></p>
        <p><strong>Telefone:</strong> 21 24010905</p>
        <p><strong>Email:</strong> camilanunesassessoria@gmail.com</p>
        <p>Falar com <strong>Frederico</strong> ou <strong>Camila</strong></p>
      </div>
    </div>
  </div>
</section>