<!-- About Section -->
<section id="how-to-get">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2><%= t('pages.how-to-get.name') %></h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <p>Igreja: Paróquia São José</p>
        <p>Endereço: R. Salustiano Silva, 27 - Magalhaes Bastos, Rio de Janeiro - RJ, 21745-590</p>
        <p>...Ponto de Referência..</p>
        <p>Horário: 18h 30min</p>
      </div>
      <div class="col-lg-5">
        <p>Salão: Espaço Maison Supreme Festas & Eventos</p>
        <p>Endereço: R. Carolina Machado, 1488 - Bento Ribeiro, Rio de Janeiro - RJ, 21321-000</p>
        <p>...Ponto de Referência..</p>
        <p>Horário: 20h 00min</p>
      </div>
    </div>
  </div>
</section>